.resume-container {
  margin-top: 1rem;
}
.resume-container p {
  color: #555;
  font-size: 1.1rem;
  padding: 0 1rem;
  margin-bottom: 2rem;
}
.resume-container h1 {
  color: #555;
  margin: 1rem 0;
  padding-left: 1rem;
  font-size: 1.3rem;
}
.title-switch {
  padding-top: 1rem;
}
.SettingsModal-container button {
  outline: 0;
}
.formula-up, .formula-down {
   font-size: 1.6rem;
 }
 .formula-divider {
   margin-bottom: .1rem !important;
 }
.ab-side, .ac-side, .bc-side {
  width: 26%;
  display: inline-block;
}
.formula-equal {
  float: right;
}
.mesure-title {
  padding-top: 3rem;
}
.mesure-divider {
  margin-bottom: -8px !important;
}
.mesure-side {
  margin-bottom: 1.5rem;
}
.mesure-down {
  margin-left: 1rem;
}
.mesure-up {
  margin-left: -.7rem;
}
